/build/
/build_ci/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/.vs/
*.vcxproj.user
*.suo
*.user
/Release/
/Debug/
/RelWithDebInfo/
/MinSizeRel/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.log
*.tmp
*.swp
/.idea/
/.vscode/
__pycache__/
*.py[cod]
*.zip
*.tar.gz
*.7z
*.bak
*.old
